---
- name: Install efm-langserver
  import_tasks: efm-langserver.yml

- name: Install shellcheck
  import_tasks: shellcheck.yml

- name: Install linters and formatters with pip
  ansible.builtin.pip:
    name:
      - yamllint
    state: present
    executable: pip3

- name: Install luacheck on Ubuntu
  ansible.builtin.apt:
    name: luarocks
    state: present
  become: true
  when: ansible_distribution == "Ubuntu"

- name: Install luacheck on Fedora
  ansible.builtin.dnf:
    name: luarocks
    state: present
  become: true
  when: ansible_distribution == "Fedora"

- name: Install luacheck on macOS
  community.general.homebrew:
    name: luarocks
    state: present
  when: ansible_distribution == "MacOSX"

- name: Install luacheck via luarocks
  ansible.builtin.shell:
    cmd: luarocks install --local luacheck
  register: luarocks_install
  changed_when: "'is now installed' in luarocks_install.stdout"
  failed_when: luarocks_install.rc != 0 and 'already installed' not in luarocks_install.stderr

- name: Install linters and formatters with npm
  loop:
    - eslint
    - prettier
  community.general.npm:
    name: "{{ item }}"
    global: true
    state: present
  environment:
    PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/.local/share/mise/shims:{{ ansible_env.PATH }}"

- name: Install stylua from GitHub releases
  unarchive:
    src: "https://github.com/JohnnyMorganz/StyLua/releases/download/v{{ stylua_version }}/stylua-{{ 'macos' if ansible_facts['os_family'] == 'Darwin' else 'linux' }}.zip"
    dest: "{{ ansible_env.HOME }}/.local/bin"
    mode: "u+x"
    remote_src: true
