[Unit]
Description=Sway notification center
Documentation=https://github.com/ErikReider/SwayNotificationCenter
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/local/bin/swaync
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
