window {
    background-color: transparent;
    background-image: none;
}

#clock {
    color: #78a9ff;
    text-shadow: 0px 0px 5px rgba(22, 22, 22, 0.8), 1px 1px 3px rgba(22, 22, 22, 0.9);
    font-size: 32px;
    font-weight: bold;
}

#body {
    background-color: rgba(22, 22, 22, 0.75);
    border: 1px solid #282828;
    border-radius: 12px;
    padding: 20px;
}

label {
    color: #f2f4f8;
    text-shadow: 0px 0px 4px rgba(22, 22, 22, 0.8), 1px 1px 2px rgba(22, 22, 22, 0.9);
    font-weight: bold;
}

entry {
    background-color: #2a2a2a;
    color: #f2f4f8;
    border: 1px solid #525253;
    border-radius: 6px;
    padding: 4px 8px;
}

entry:focus {
    border-color: #78a9ff;
}
