---
- name: Install zsh
  import_tasks: zsh.yml

- name: Install zsh-syntax-highlighting
  import_tasks: zsh-syntax-highlighting.yml

- name: Install zsh-autosuggestions
  import_tasks: zsh-autosuggestions.yml
