---
- name: Install oh-my-posh in macOS
  community.general.homebrew:
    name: jandedobbeleer/oh-my-posh/oh-my-posh
    state: present
  when: ansible_distribution == "MacOSX"

- name: Download and install oh-my-posh in Linux
  when: ansible_system == "Linux"
  block:
    - name: Download oh-my-posh install script
      get_url:
        url: https://ohmyposh.dev/install.sh
        dest: /tmp/oh-my-posh-install.sh
        mode: '0755'

    - name: Install oh-my-posh
      become: true
      command:
        cmd: /tmp/oh-my-posh-install.sh -d /usr/local/bin
      args:
        creates: /usr/local/bin/oh-my-posh

    - name: Clean up install script
      file:
        path: /tmp/oh-my-posh-install.sh
        state: absent
