/* Carbonfox theme for nwg-dock */

window {
    background: #161616;
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    border-color: #353535
}

#box {
    padding: 10px
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #7b7c7e
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: #f2f4f8;
    font-size: 12px
}

button:hover {
    background-color: rgba(120, 169, 255, 0.15);
    border-radius: 4px;
}

button:focus {
    box-shadow: 0 0 2px;
}
