# Example .gitconfig.local file
# Copy this to ~/.gitconfig.local and customize for your machine
# This file is not version controlled and won't be stowed

[user]
    email = ""
    name = ""
#    signingkey = 

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
