[submodule "neovim"]
	path = deps/nvim
	url = https://github.com/neovim/neovim
	ignore = dirty
[submodule "fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
	ignore = dirty
[submodule "git-toolbelt"]
	path = git-toolbelt
	url = https://github.com/nvie/git-toolbelt
	ignore = dirty
[submodule "deps/wslu"]
	path = deps/wslu
	url = https://github.com/WhitewaterFoundry/wslu.git
    ignore = dirty
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule ".vim/pack/plugins/start/diffconflicts"]
	path = .vim/pack/plugins/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts.git
[submodule "deps/Turbo-Base64"]
	path = deps/Turbo-Base64
	url = https://github.com/powturbo/Turbo-Base64.git
    ignore = dirty
[submodule "deps/ueberzugpp"]
	path = deps/ueberzugpp
	url = https://github.com/jstkdng/ueberzugpp.git
    ignore = dirty
[submodule ".config/nvim/pack/plugins/opt/nightfox.nvim"]
	path = .config/nvim/pack/plugins/opt/nightfox.nvim
	url = https://github.com/nisrael/nightfox.nvim.git
	branch = feature/add-extra-svg-templates
