# Example .gitconfig.local file
# Copy this to ~/.gitconfig.local and customize for your machine
# This file is not version controlled and won't be stowed

[user]
    email = "your.email@example.com"
    name = "Your Name"
# optional
#    signingkey = YOUR_GPG_KEY_ID


# for WSL
# [core]
#     sshCommand = ssh.exe

# [gpg]
#   format = ssh
#
# [gpg "ssh"]
#   # WSL
#   program = "/mnt/c/Users/USERNAME/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
#   # native Linux and MacOSX
#   program = "op-ssh-sign"
#
# [commit]
#   gpgsign = true
