---
- name: Install psutil via apt (Debian)
  become: true
  apt:
    name:
      - python3-psutil
    state: present
  when: ansible_facts.distribution == "Debian"

- name: Install psutil via pip (non-Debian, non-Arch)
  pip:
    name:
      - psutil
    state: present
  when: ansible_facts.distribution != "Debian" and ansible_facts.os_family != "Archlinux"

- name: Install psutil on CachyOS/Arch
  become: true
  community.general.pacman:
    name:
      - python-psutil
    state: present
  when: ansible_facts.os_family == "Archlinux"

- name: Install dconf in Debian/Ubuntu
  become: true
  apt:
    name:
      - dconf-cli
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install dconf in CachyOS/Arch
  become: true
  community.general.pacman:
    name:
      - dconf
    state: present
  when: ansible_facts.os_family == "Archlinux"

- name: Enable tap to click on touchpad
  community.general.dconf:
    key: "/org/gnome/desktop/peripherals/touchpad/tap-to-click"
    value: "true"

- name: Show battery percentage
  community.general.dconf:
    key: "/org/gnome/desktop/interface/show-battery-percentage"
    value: "true"

- name: Show apps in current workspace only on Alt+Tab
  community.general.dconf:
    key: "/org/gnome/shell/app-switcher/current-workspace-only"
    value: "true"

- name: Download updates automatically with GNOME software
  community.general.dconf:
    key: "/org/gnome/software/download-updates"
    value: "true"

- name: Disable GNOME search providers
  community.general.dconf:
    key: "/org/gnome/desktop/search-providers/disabled"
    value: "['org.gnome.Photos.desktop', 'firefox.desktop', 'org.gnome.Characters.desktop', 'org.gnome.Calendar.desktop', 'org.gnome.Boxes.desktop', 'org.gnome.Contacts.desktop', 'org.gnome.clocks.desktop', 'org.gnome.Terminal.desktop']"

- name: Enable night light
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/color/night-light-enabled"
    value: "true"

- name: Enable night mode automatic schedule
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-automatic"
    value: "true"

- name: Configure night light temperature mode
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/color/night-light-temperature"
    value: "uint32 4220"

# Install GNOME extensions
- name: Install gnome-extensions-cli via pipx (Debian)
  ansible.builtin.command:
    cmd: pipx install gnome-extensions-cli --system-site-packages
  register: pipx_gext
  changed_when: "'installed package' in pipx_gext.stdout"
  failed_when: false
  when: ansible_facts.distribution == "Debian"

- name: Install gnome-extensions-cli via pip (non-Debian)
  pip:
    name:
      - gnome-extensions-cli
    state: present
  when: ansible_facts.distribution != "Debian"

- name: Install GNOME extensions
  ansible.builtin.shell:
    cmd: gext install {{ item.id }}
  loop:
    - { id: 615, name: "appindicator-support" }
    - { id: 307, name: "dash-to-dock" }
    - { id: 3843, name: "just-perfection" }
    - { id: 6580, name: "open-bar" }
    - { id: 4356, name: "top-bar-organizer" }
    - { id: 6682, name: "astra-monitor" }
  register: gext_result
  changed_when: "'already installed' not in gext_result.stdout"
  failed_when: gext_result.rc != 0 and 'already installed' not in gext_result.stdout

- name: Enable GNOME extensions
  ansible.builtin.shell:
    cmd: gnome-extensions enable {{ item }}
  loop:
    - "appindicatorsupport@rgcjonas.gmail.com"
    - "dash-to-dock@micxgx.gmail.com"
    - "just-perfection-desktop@just-perfection"
    - "openbar@neuromorph"
    - "top-bar-organizer@julian.gse"
    - "monitor@astraext.github.io"
  register: enable_result
  changed_when: false
  failed_when: false

# Desktop WM keybindings
- name: Disable activate window menu keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/activate-window-menu"
    value: "@as []"

- name: Disable switch input source keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-input-source"
    value: "@as []"

- name: Disable switch input source backward keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-input-source-backward"
    value: "@as []"

- name: Set switch to left workspace keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-left"
    value: "['<Super><Alt>Left']"

- name: Set switch to right workspace keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-right"
    value: "['<Super><Alt>Right']"

- name: Set switch applications keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-applications"
    value: "['<Super>Tab']"

- name: Set switch applications backward keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-applications-backward"
    value: "['<Shift><Super>Tab']"

- name: Set switch windows keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-windows"
    value: "['<Alt>Tab']"

- name: Set switch windows backward keybinding
  community.general.dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-windows-backward"
    value: "['<Shift><Alt>Tab']"

# Desktop sound settings
- name: Disable event sounds
  community.general.dconf:
    key: "/org/gnome/desktop/sound/event-sounds"
    value: "false"

- name: Set custom sound theme
  community.general.dconf:
    key: "/org/gnome/desktop/sound/theme-name"
    value: "'__custom'"

# Ptyxis terminal settings
- name: Disable audible bell in Ptyxis
  community.general.dconf:
    key: "/org/gnome/Ptyxis/audible-bell"
    value: "false"

- name: Set Ptyxis font
  community.general.dconf:
    key: "/org/gnome/Ptyxis/font-name"
    value: "'JetBrainsMonoNL Nerd Font Mono 11'"

- name: Disable system font in Ptyxis
  community.general.dconf:
    key: "/org/gnome/Ptyxis/use-system-font"
    value: "false"

- name: Set Ptyxis default profile UUID
  community.general.dconf:
    key: "/org/gnome/Ptyxis/default-profile-uuid"
    value: "'3beba84133733909909ae8ad69176a01'"

- name: Set Ptyxis profile UUIDs
  community.general.dconf:
    key: "/org/gnome/Ptyxis/profile-uuids"
    value: "['3beba84133733909909ae8ad69176a01']"

- name: Set Ptyxis window size
  community.general.dconf:
    key: "/org/gnome/Ptyxis/window-size"
    value: "(uint32 188, uint32 46)"

- name: Set Ptyxis profile palette
  community.general.dconf:
    key: "/org/gnome/Ptyxis/Profiles/3beba84133733909909ae8ad69176a01/palette"
    value: "'gnome'"

- name: Disable Ptyxis primary menu shortcut
  community.general.dconf:
    key: "/org/gnome/Ptyxis/Shortcuts/primary-menu"
    value: "''"

- name: Disable Ptyxis toggle fullscreen shortcut
  community.general.dconf:
    key: "/org/gnome/Ptyxis/Shortcuts/toggle-fullscreen"
    value: "''"

- name: Set Ptyxis zoom-in shortcut
  community.general.dconf:
    key: "/org/gnome/Ptyxis/Shortcuts/zoom-in"
    value: "'<Control>plus'"

# Custom keybindings for cheatsheet / TLDR / cheat (Super+F1/F2/F3)
- name: Set custom keybindings list
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings"
    value: "['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/']"

- name: Set cheatsheet Super+F1 keybinding
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/binding"
    value: "'<Super>F1'"

- name: Set cheatsheet Super+F1 command
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/command"
    value: "'ghostty --class=floating-cheatsheet -e glow -p {{ ansible_facts.env.HOME }}/.config/nvim/cheatsheet.md'"

- name: Set cheatsheet Super+F1 name
  community.general.dconf:
    key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/name"
    value: "'cheatsheet'"

# GNOME Tweaks settings
- name: Hide GNOME Tweaks extensions notice
  community.general.dconf:
    key: "/org/gnome/tweaks/show-extensions-notice"
    value: "false"

# GTK4 file chooser settings
- name: Set GTK4 file chooser date format
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/date-format"
    value: "'regular'"

- name: Set GTK4 file chooser location mode
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/location-mode"
    value: "'path-bar'"

- name: Set GTK4 file chooser show hidden files
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/show-hidden"
    value: "false"

- name: Set GTK4 file chooser sort directories first
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/sort-directories-first"
    value: "true"

- name: Set GTK4 file chooser sort column
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/sort-column"
    value: "'name'"

- name: Set GTK4 file chooser sort order
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/sort-order"
    value: "'ascending'"

- name: Set GTK4 file chooser view type
  community.general.dconf:
    key: "/org/gtk/gtk4/settings/file-chooser/view-type"
    value: "'list'"

# GTK (GTK3) file chooser settings
- name: Set GTK file chooser date format
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/date-format"
    value: "'regular'"

- name: Set GTK file chooser location mode
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/location-mode"
    value: "'path-bar'"

- name: Set GTK file chooser show hidden files
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/show-hidden"
    value: "false"

- name: Set GTK file chooser show size column
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/show-size-column"
    value: "true"

- name: Set GTK file chooser show type column
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/show-type-column"
    value: "true"

- name: Set GTK file chooser sort directories first
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/sort-directories-first"
    value: "false"

- name: Set GTK file chooser sort column
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/sort-column"
    value: "'name'"

- name: Set GTK file chooser sort order
  community.general.dconf:
    key: "/org/gtk/settings/file-chooser/sort-order"
    value: "'ascending'"

# GNOME Text Editor settings
- name: Set Text Editor custom font
  community.general.dconf:
    key: "/org/gnome/TextEditor/custom-font"
    value: "'JetBrainsMono Nerd Font 11'"

- name: Disable system font in Text Editor
  community.general.dconf:
    key: "/org/gnome/TextEditor/use-system-font"
    value: "false"

- name: Set Text Editor indent style to spaces
  community.general.dconf:
    key: "/org/gnome/TextEditor/indent-style"
    value: "'space'"

- name: Set Text Editor tab width
  community.general.dconf:
    key: "/org/gnome/TextEditor/tab-width"
    value: "uint32 2"

- name: Show line numbers in Text Editor
  community.general.dconf:
    key: "/org/gnome/TextEditor/show-line-numbers"
    value: "true"

- name: Don't restore the session in Text Editor
  community.general.dconf:
    key: "/org/gnome/TextEditor/restore-session"
    value: "false"

- name: Disable spellcheck in Text Editor
  community.general.dconf:
    key: "/org/gnome/TextEditor/spellcheck"
    value: "false"

- name: Set Text Editor color scheme
  community.general.dconf:
    key: "/org/gnome/TextEditor/style-scheme"
    value: "'kate-dark'"

# Load dconf dumps for extension settings only (extensions don't have gsettings schemas)
- name: Load dash-to-dock extension settings
  ansible.builtin.shell:
    cmd: dconf load /org/gnome/shell/extensions/dash-to-dock/ < {{ role_path }}/files/dconf-org.gnome.shell.extensions.dash-to-dock.dump
  changed_when: false

- name: Load openbar extension settings
  ansible.builtin.shell:
    cmd: dconf load /org/gnome/shell/extensions/openbar/ < {{ role_path }}/files/dconf-org.gnome.shell.extensions.openbar.dump
  changed_when: false

- name: Load appindicator extension settings
  ansible.builtin.shell:
    cmd: dconf load /org/gnome/shell/extensions/appindicator/ < {{ role_path }}/files/dconf-org.gnome.shell.extensions.appindicator.dump
  changed_when: false

- name: Load top-bar-organizer extension settings
  ansible.builtin.shell:
    cmd: dconf load /org/gnome/shell/extensions/top-bar-organizer/ < {{ role_path }}/files/dconf-org.gnome.shell.extensions.top-bar-organizer.dump
  changed_when: false

- name: Load just-perfection extension settings
  ansible.builtin.shell:
    cmd: dconf load /org/gnome/shell/extensions/just-perfection/ < {{ role_path }}/files/dconf-org.gnome.shell.extensions.just-perfection.dump
  changed_when: false
