---
- name: Add universe repository (Debian/Ubuntu)
  become: true
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
    state: present
  loop:
    - universe
  when: ansible_os_family == "Debian"

- name: Add ulauncher PPA (Debian/Ubuntu)
  become: true
  ansible.builtin.apt_repository:
    repo: ppa:agornostal/ulauncher
    state: present
  when: ansible_os_family == "Debian"

- name: Install ulauncher (Debian/Ubuntu)
  become: true
  apt:
    name:
      - ulauncher
    state: present
    update_cache: true
  when: ansible_os_family == "Debian"

- name: Install ulauncher (Fedora/RHEL)
  become: true
  dnf:
    name:
      - ulauncher
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Python pip (Debian/Ubuntu)
  become: true
  apt:
    name:
      - python3-pip
    state: present
  when: ansible_os_family == "Debian"

- name: Install Python pip (Fedora/RHEL)
  become: true
  dnf:
    name:
      - python3-pip
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Python dependencies for ulauncher-albert-calculate-anything extension
  become: true
  ansible.builtin.pip:
    name:
      - Pint
      - simpleeval
      - parsedatetime
      - pytz
      - babel
    executable: /usr/bin/pip3
    state: present
  when: ansible_system == "Linux"
