---
# Vicinae launcher
# https://docs.vicinae.com/build

# CachyOS/Arch: install from AUR
- name: Install Vicinae from AUR (CachyOS/Arch)
  command: paru -S --noconfirm --needed vicinae-bin
  args:
    creates: /usr/bin/vicinae
  when: ansible_facts.os_family == "Archlinux"

- name: Install Vicinae from COPR (Fedora)
  become: true
  block:
    - name: Enable Vicinae COPR repository
      community.general.copr:
        name: quadratech188/vicinae
        state: enabled

    - name: Install vicinae
      ansible.builtin.dnf:
        name: vicinae
        state: present
    
    - name: Enable Vivinae systemd unit
      command: systemctl --user enable --now vicinae.service

  when:
    - ansible_facts.os_family == "RedHat"

