---
- name: Install Calibre (macOS)
  community.general.homebrew_cask:
    name: calibre
    state: present
  when: ansible_facts.distribution == "MacOSX"

- name: Install Calibre (Ubuntu/Debian)
  community.general.flatpak:
    name: com.calibre_ebook.calibre
    state: present
    method: user
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install Calibre (Fedora)
  community.general.flatpak:
    name: com.calibre_ebook.calibre
    state: present
    method: user
  when: ansible_facts.distribution == "Fedora"
