---
- name: Install extrepo (Debian/Ubuntu)
  become: true
  ansible.builtin.apt:
    name: extrepo
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Uncomment contrib and non-free in extrepo config (Debian/Ubuntu)
  become: true
  ansible.builtin.replace:
    path: /etc/extrepo/config.yaml
    regexp: '^#\s*(- (?:contrib|non-free))$'
    replace: '\1'
  when: ansible_facts.os_family == "Debian"
