---
- name: Install flatpak in Debian/Ubuntu
  become: true
  apt:
    name:
      - flatpak
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install flatpak in Fedora/RHEL
  become: true
  dnf:
    name:
      - flatpak
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Install flatpak in CachyOS/Arch
  become: true
  community.general.pacman:
    name: flatpak
    state: present
  when: ansible_facts.os_family == "Archlinux"

- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    method: user
