- name: Install ghostty in Debian/Ubuntu
  become: true
  apt:
    name: ghostty
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install ghostty in Fedora
  become: true
  dnf:
    name: ghostty
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Install ghostty in macOS
  community.general.homebrew:
    name: ghostty
    state: present
  when: ansible_facts.distribution == "MacOSX"
