---
- name: Install Joplin (macOS)
  community.general.homebrew_cask:
    name: joplin
    state: present
  when: ansible_facts.distribution == "MacOSX"

- name: Add Joplin repository GPG key (Debian/Ubuntu)
  ansible.builtin.shell:
    cmd: curl -s https://gitlab.com/LFd3v/joplin-desktop-linux-package/-/raw/master/pub.gpg
    creates: /etc/apt/keyrings/lfdev-repo.gpg
  register: gpg_key
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Save Joplin GPG key (Debian/Ubuntu)
  ansible.builtin.copy:
    content: "{{ gpg_key.stdout }}"
    dest: /etc/apt/keyrings/lfdev-repo.gpg
    mode: '0644'
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"] and gpg_key.changed

- name: Add Joplin repository source (Debian/Ubuntu)
  ansible.builtin.copy:
    content: |
      X-Repolib-Name: LFdev Repo
      Enabled: yes
      Types: deb
      URIs: https://sourceforge.net/projects/joplin-desktop-linux-package/files/deb-repo
      Suites: packages
      Components: main
      Architectures: amd64
      Signed-by: /etc/apt/keyrings/lfdev-repo.gpg
    dest: /etc/apt/sources.list.d/lfdev-repo.sources
    mode: '0644'
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Update apt cache (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install Joplin (Debian/Ubuntu)
  ansible.builtin.apt:
    name: joplin
    state: present
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install Joplin (Fedora)
  community.general.flatpak:
    name: net.cozic.joplin_desktop
    state: present
    method: user
  when: ansible_facts.distribution == "Fedora"

- name: Install Joplin from AUR (CachyOS/Arch)
  command: paru -S --noconfirm --needed joplin-bin
  args:
    creates: /usr/bin/joplin
  when: ansible_facts.os_family == "Archlinux"
