---
- name: Add Spotify signing key (Ubuntu/Debian)
  ansible.builtin.shell:
    cmd: curl -sS https://download.spotify.com/debian/pubkey_5384CE82BA52C83A.asc | gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg
    creates: /etc/apt/trusted.gpg.d/spotify.gpg
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Add Spotify repository (Ubuntu/Debian)
  ansible.builtin.apt_repository:
    repo: "deb https://repository.spotify.com stable non-free"
    filename: spotify
    state: present
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Update apt cache (Ubuntu/Debian)
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install Spotify (Ubuntu/Debian)
  ansible.builtin.apt:
    name: spotify-client
    state: present
  become: true
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install Spotify (Fedora)
  community.general.flatpak:
    name: com.spotify.Client
    state: present
    method: user
  when: ansible_facts.distribution == "Fedora"

- name: Install Spotify (macOS)
  community.general.homebrew_cask:
    name: spotify
    state: present
  when: ansible_facts.distribution == "MacOSX"
