---
- name: Install TeamSpeak 3 (macOS)
  community.general.homebrew_cask:
    name: teamspeak-client
    state: present
  when: ansible_facts.distribution == "MacOSX"

- name: Install TeamSpeak 3 (Debian/Ubuntu)
  community.general.flatpak:
    name: com.teamspeak.TeamSpeak3
    state: present
    method: user
  when: ansible_facts.distribution in ["Ubuntu", "Debian"] and ansible_architecture == "x86_64"

- name: Install TeamSpeak 3 (Fedora)
  community.general.flatpak:
    name: com.teamspeak.TeamSpeak3
    state: present
    method: user
  when: ansible_facts.distribution == "Fedora" and ansible_architecture == "x86_64"

- name: Install TeamSpeak 3 (CachyOS/Arch)
  community.general.flatpak:
    name: com.teamspeak.TeamSpeak3
    state: present
    method: user
  when: ansible_facts.os_family == "Archlinux" and ansible_architecture == "x86_64"
