---
- name: Install TeamSpeak 3 (macOS)
  community.general.homebrew_cask:
    name: teamspeak-client
    state: present
  when: ansible_facts.distribution == "MacOSX"

- name: Install TeamSpeak 3 (Ubuntu/Debian)
  community.general.flatpak:
    name: com.teamspeak.TeamSpeak3
    state: present
    method: user
  when: ansible_facts.distribution in ["Ubuntu", "Debian"]

- name: Install TeamSpeak 3 (Fedora)
  community.general.flatpak:
    name: com.teamspeak.TeamSpeak3
    state: present
    method: user
  when: ansible_facts.distribution == "Fedora"
