---
- name: Install ueberzugpp build dependencies on Fedora
  become: true
  dnf:
    name:
      # Build tools
      - cmake
      - gcc
      - gcc-c++
      # Image libraries
      - libsixel
      - libsixel-devel
      - chafa
      - chafa-devel
      - vips-devel
      - vips-heif
      - vips-jxl
      - vips-magick
      - vips-openslide
      - vips-poppler
      # Crypto and threading
      - openssl
      - openssl-devel
      - tbb
      - tbb-devel
      # CLI and logging libraries
      - cli11-devel
      - cli11-docs
      - spdlog
      - spdlog-devel
      - fmt
      - fmt-devel
      - range-v3-devel
      # OpenCV
      - opencv
      - opencv-devel
      # X11 and Wayland support
      - xcb-util-image
      - xcb-util-image-devel
      - wayland-devel
      - wayland-protocols-devel
      - extra-cmake-modules
      - libwayland-client
    state: present

- name: Check if Turbo-Base64 is installed
  stat:
    path: /usr/local/lib64/libturbob64.so
  register: turbob64_installed

- name: Build and install Turbo-Base64
  block:
    - name: Create Turbo-Base64 build directory
      file:
        path: deps/Turbo-Base64/build
        state: directory

    - name: Patch missing stdlib.h include in conf.h
      ansible.builtin.lineinfile:
        path: deps/Turbo-Base64/conf.h
        insertafter: '#include <stdio.h>'
        line: '#include <stdlib.h>'

    - name: Configure Turbo-Base64
      command:
        cmd: cmake -DCMAKE_INSTALL_PREFIX=/usr/local ..
        chdir: deps/Turbo-Base64/build
        creates: deps/Turbo-Base64/build/Makefile

    - name: Build Turbo-Base64
      community.general.make:
        chdir: deps/Turbo-Base64/build

    - name: Install Turbo-Base64
      become: true
      command:
        cmd: cmake --install .
        chdir: deps/Turbo-Base64/build
  when: not turbob64_installed.stat.exists

- name: Check if ueberzugpp is installed
  stat:
    path: /usr/local/bin/ueberzug
  register: ueberzugpp_installed

- name: Build and install ueberzugpp
  block:
    - name: Create ueberzugpp build directory
      file:
        path: deps/ueberzugpp/build
        state: directory

    - name: Configure ueberzugpp
      command:
        cmd: cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=Release -DENABLE_TURBOBASE64=ON -DENABLE_WAYLAND=ON ..
        chdir: deps/ueberzugpp/build
        creates: deps/ueberzugpp/build/Makefile

    - name: Build ueberzugpp
      community.general.make:
        chdir: deps/ueberzugpp/build

    - name: Install ueberzugpp
      become: true
      command:
        cmd: cmake --install .
        chdir: deps/ueberzugpp/build

    - name: Update library cache
      become: true
      command: ldconfig
  when: not ueberzugpp_installed.stat.exists
