/**
 * Nightfox colors for Waybar
 * name: carbonfox
 * upstream: https://github.com/edeneast/nightfox.nvim/raw/main/extra/carbonfox/waybar.css
 */

@define-color rosewater #ff7eb6;
@define-color flamingo #3ddbd9;
@define-color pink #ff7eb6;
@define-color mauve #be95ff;
@define-color red #ee5396;
@define-color maroon #ee5396;
@define-color peach #3ddbd9;
@define-color yellow #08bdba;
@define-color green #25be6a;
@define-color teal #33b1ff;
@define-color sky #33b1ff;
@define-color sapphire #78a9ff;
@define-color blue #78a9ff;
@define-color lavender #be95ff;
@define-color text #f2f4f8;
@define-color subtext1 #f2f4f8;
@define-color subtext0 #b6b8bb;
@define-color overlay2 #7b7c7e;
@define-color overlay1 #535353;
@define-color overlay0 #353535;
@define-color surface2 #2a2a2a;
@define-color surface1 #252525;
@define-color surface0 #161616;
@define-color base #161616;
@define-color mantle #0c0c0c;
@define-color crust #0c0c0c;
