@define-color rosewater #FF7EB6;
@define-color flamingo #3DDBD9;
@define-color pink #FF7EB6;
@define-color mauve #BE95FF;
@define-color red #EE5396;
@define-color maroon #EE5396;
@define-color peach #3DDBD9;
@define-color yellow #08BDBA;
@define-color green #25be6a;
@define-color teal #33B1FF;
@define-color sky #33B1FF;
@define-color sapphire #78A9FF;
@define-color blue #78A9FF;
@define-color lavender #BE95FF;
@define-color text #f2f4f8;
@define-color subtext1 #f2f4f8;
@define-color subtext0 #b6b8bb;
@define-color overlay2 #7f8189;
@define-color overlay1 #535559;
@define-color overlay0 #3a3a3a;
@define-color surface2 #2a2a2a;
@define-color surface1 #1e1e1e;
@define-color surface0 #161616;
@define-color base #161616;
@define-color mantle #0e0e0e;
@define-color crust #0e0e0e;
