@define-color rosewater #d685af;
@define-color flamingo #d7827e;
@define-color pink #d685af;
@define-color mauve #907aa9;
@define-color red #b4637a;
@define-color maroon #b4637a;
@define-color peach #d7827e;
@define-color yellow #ea9d34;
@define-color green #618774;
@define-color teal #56949f;
@define-color sky #56949f;
@define-color sapphire #286983;
@define-color blue #286983;
@define-color lavender #907aa9;
@define-color text #575279;
@define-color subtext1 #4c4769;
@define-color subtext0 #625c87;
@define-color overlay2 #9893a5;
@define-color overlay1 #a8a3b3;
@define-color overlay0 #bdbfc9;
@define-color surface2 #ebdfe4;
@define-color surface1 #ebe0df;
@define-color surface0 #ebe5df;
@define-color base #faf4ed;
@define-color mantle #ebe5df;
@define-color crust #ebe5df;
