/**
 * Nightfox colors for Waybar
 * name: nightfox
 * upstream: https://github.com/edeneast/nightfox.nvim/raw/main/extra/nightfox/waybar.css
 */

@define-color rosewater #d67ad2;
@define-color flamingo #f4a261;
@define-color pink #d67ad2;
@define-color mauve #9d79d6;
@define-color red #c94f6d;
@define-color maroon #c94f6d;
@define-color peach #f4a261;
@define-color yellow #dbc074;
@define-color green #81b29a;
@define-color teal #63cdcf;
@define-color sky #63cdcf;
@define-color sapphire #719cd6;
@define-color blue #719cd6;
@define-color lavender #9d79d6;
@define-color text #cdcecf;
@define-color subtext1 #cdcecf;
@define-color subtext0 #aeafb0;
@define-color overlay2 #71839b;
@define-color overlay1 #39506d;
@define-color overlay0 #29394f;
@define-color surface2 #2b3b51;
@define-color surface1 #212e3f;
@define-color surface0 #192330;
@define-color base #192330;
@define-color mantle #131a24;
@define-color crust #131a24;
