/**
 * Nightfox colors for Waybar
 * name: nordfox
 * upstream: https://github.com/edeneast/nightfox.nvim/raw/main/extra/nordfox/waybar.css
 */

@define-color rosewater #bf88bc;
@define-color flamingo #c9826b;
@define-color pink #bf88bc;
@define-color mauve #b48ead;
@define-color red #bf616a;
@define-color maroon #bf616a;
@define-color peach #c9826b;
@define-color yellow #ebcb8b;
@define-color green #a3be8c;
@define-color teal #88c0d0;
@define-color sky #88c0d0;
@define-color sapphire #81a1c1;
@define-color blue #81a1c1;
@define-color lavender #b48ead;
@define-color text #cdcecf;
@define-color subtext1 #cdcecf;
@define-color subtext0 #abb1bb;
@define-color overlay2 #7e8188;
@define-color overlay1 #5a657d;
@define-color overlay0 #444c5e;
@define-color surface2 #3e4a5b;
@define-color surface1 #39404f;
@define-color surface0 #2e3440;
@define-color base #2e3440;
@define-color mantle #232831;
@define-color crust #232831;
