/**
 * Nightfox colors for Waybar
 * name: terafox
 * upstream: https://github.com/edeneast/nightfox.nvim/raw/main/extra/terafox/waybar.css
 */

@define-color rosewater #cb7985;
@define-color flamingo #ff8349;
@define-color pink #cb7985;
@define-color mauve #ad5c7c;
@define-color red #e85c51;
@define-color maroon #e85c51;
@define-color peach #ff8349;
@define-color yellow #fda47f;
@define-color green #7aa4a1;
@define-color teal #a1cdd8;
@define-color sky #a1cdd8;
@define-color sapphire #5a93aa;
@define-color blue #5a93aa;
@define-color lavender #ad5c7c;
@define-color text #e6eaea;
@define-color subtext1 #e6eaea;
@define-color subtext0 #cbd9d8;
@define-color overlay2 #587b7b;
@define-color overlay1 #2d4f56;
@define-color overlay0 #254147;
@define-color surface2 #293e40;
@define-color surface1 #1d3337;
@define-color surface0 #152528;
@define-color base #152528;
@define-color mantle #0f1c1e;
@define-color crust #0f1c1e;
