---
- name: Install stow in Debian/Ubuntu
  import_tasks: ubuntu.yml
  when: ansible_os_family == "Debian"

- name: Install stow in Fedora/RHEL
  import_tasks: fedora.yml
  when: ansible_os_family == "RedHat"

- name: Install stow in macOS
  import_tasks: macos.yml
  when: ansible_distribution == "MacOSX"

- name: Remove files that will conflict with Stow
  loop:
    - .bashrc
    - .bash_profile
    - .profile
    - .gitconfig
    - .config/alacritty/alacritty.toml
    - .config/git/ignore
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/{{ item }}"
    state: absent

- name: Generate platform-specific .gitconfig
  ansible.builtin.template:
    src: gitconfig.j2
    dest: "{{ ansible_env.HOME }}/.gitconfig"
    mode: '0644'

- name: Ensure .config/alacritty directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/alacritty"
    state: directory
    mode: '0755'

- name: Generate platform-specific alacritty.toml
  ansible.builtin.template:
    src: alacritty.toml.j2
    dest: "{{ ansible_env.HOME }}/.config/alacritty/alacritty.toml"
    mode: '0644'

- name: Run stow
  shell: "stow . --target {{ ansible_env.HOME }} --verbose=2"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'
