---
- name: Install Debian packages (Swaybg, Wlogout)
  become: true
  apt:
    name:
      - swaybg
      - wlogout
    state: present
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

# Avizo - Install from source
- name: Install Avizo build dependencies
  become: true
  apt:
    name:
      - meson
      - valac
      - libgtk-3-dev
      - libglib2.0-dev
      - libgtk-layer-shell-dev
      - gobject-introspection
    state: present
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Remove Avizo build directory if exists
  file:
    path: "{{ ansible_env.HOME }}/.local/src/avizo"
    state: absent

- name: Clone Avizo repository
  git:
    repo: https://github.com/misterdanb/avizo.git
    dest: "{{ ansible_env.HOME }}/.local/src/avizo"
    version: master
    recursive: yes
    force: yes
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Configure Avizo build
  shell: |
    meson setup build --prefix=/usr/local --buildtype=release
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/avizo"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Build and Install Avizo
  become: true
  shell: |
    ninja -C build install
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/avizo"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

# Fuzzel - Install from source
- name: Install Fuzzel build dependencies
  become: true
  apt:
    name:
      - meson
      - pkg-config
      - libwayland-dev
      - wayland-protocols
      - libxkbcommon-dev
      - libcairo2-dev
      - libpixman-1-dev
      - libfontconfig-dev
      - libpng-dev
      - librsvg2-dev
      - libtllist-dev
      - libfcft-dev
      - scdoc
      - librust-pixman-sys-dev
      - librust-pixman-dev
      - libpixman-1-dev
      - libpixman-1-0
    state: present
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Remove Fuzzel build directory if exists
  file:
    path: "{{ ansible_env.HOME }}/.local/src/fuzzel"
    state: absent

- name: Clone Fuzzel repository
  git:
    repo: https://codeberg.org/dnkl/fuzzel.git
    dest: "{{ ansible_env.HOME }}/.local/src/fuzzel"
    version: master
    recursive: yes
    force: yes
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Configure Fuzzel build
  shell: |
    # Fuzzel master uses PIXMAN_a16b16g16r16 which requires pixman >= 0.46
    # Since Debian only has 0.44, we need to revert the commit that introduced this requirement
    # "Implement gamma-correct blending" (2d19826e2527bba9c556c83d42a8c99df22bf569)
    git reset --hard 2d19826e2527bba9c556c83d42a8c99df22bf569^
    meson setup build --prefix=/usr/local --buildtype=release
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/fuzzel"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Build and Install Fuzzel
  become: true
  shell: |
    ninja -C build install
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/fuzzel"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

# SwayNotificationCenter - Install from source
- name: Install SwayNC build dependencies
  become: true
  apt:
    name:
      - meson
      - valac
      - libgtk-4-dev
      - libgtk-4-media-gstreamer
      - libgtk4-layer-shell-dev
      - libgee-0.8-dev
      - libjson-glib-dev
      - libhandy-1-dev
      - libpulse-dev
      - gobject-introspection
      - libgirepository1.0-dev
      - scdoc
      - sassc
      - libadwaita-1-dev
      - libgranite-dev
      - blueprint-compiler
    state: present
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Remove SwayNC build directory if exists
  file:
    path: "{{ ansible_env.HOME }}/.local/src/swaync"
    state: absent

- name: Clone SwayNC repository
  git:
    repo: https://github.com/ErikReider/SwayNotificationCenter.git
    dest: "{{ ansible_env.HOME }}/.local/src/swaync"
    version: main
    recursive: yes
    force: yes
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Configure SwayNC build
  shell: |
    # SwayNC main uses GTK4 and requires granite-7, but Debian only has granite-6 (GTK3)
    # Reverting to the last GTK3 compatible version before the GTK4 port
    # Commit: "Ported to GTK 4" (3d719a829425d41c00e4e09dd1f5f77e64dfbfd5)
    git reset --hard 3d719a829425d41c00e4e09dd1f5f77e64dfbfd5^
    meson setup build --prefix=/usr/local --buildtype=release
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/swaync"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Build and Install SwayNC
  become: true
  shell: |
    ninja -C build install
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/swaync"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

# Rofi - Install from source (Mainline v2.0.0+ with Wayland support)
- name: Install Rofi build dependencies
  become: true
  apt:
    name:
      - meson
      - ninja-build
      - bison
      - flex
      - libpango1.0-dev
      - libcairo2-dev
      - libglib2.0-dev
      - libgdk-pixbuf-2.0-dev
      - libstartup-notification0-dev
      - libxkbcommon-dev
      - libxkbcommon-x11-dev
      - libxcb1-dev
      - libxcb-util-dev
      - libxcb-xkb-dev
      - libxcb-ewmh-dev
      - libxcb-icccm4-dev
      - libxcb-randr0-dev
      - libxcb-xinerama0-dev
      - libxcb-cursor-dev
      - libwayland-dev
      - wayland-protocols
    state: present
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Remove Rofi build directory if exists
  file:
    path: "{{ ansible_env.HOME }}/.local/src/rofi"
    state: absent

- name: Clone Rofi repository
  git:
    repo: https://github.com/davatorium/rofi.git
    dest: "{{ ansible_env.HOME }}/.local/src/rofi"
    version: next
    recursive: yes
    force: yes
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Configure Rofi build
  shell: |
    meson setup build --prefix=/usr/local --buildtype=release -Dxcb=enabled -Dwayland=enabled
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/rofi"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13

- name: Build and Install Rofi
  become: true
  shell: |
    ninja -C build install
  args:
    chdir: "{{ ansible_env.HOME }}/.local/src/rofi"
  when: ansible_facts.distribution == "Debian" and ansible_facts.distribution_major_version|int >= 13
