window {
    font-family: sans-serif;
    font-size: 13pt;
    color: #999999;
    background-color: rgba(10, 10, 10, 0.85);
}

button {
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 30%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin: 200px 10px;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #cccccc;
    text-shadow: none;
}

button:focus {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    text-shadow: none;
}

#lock {
    background-image: image(url("./lock.png"));
}
#lock:focus {
    background-image: image(url("./lock-hover.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}
#logout:focus {
    background-image: image(url("./logout-hover.png"));
}

#suspend {
    background-image: image(url("./suspend.png"));
}
#suspend:focus {
    background-image: image(url("./suspend-hover.png"));
}

#reboot {
    background-image: image(url("./reboot.png"));
}
#reboot:focus {
    background-image: image(url("./reboot-hover.png"));
}

#shutdown {
    background-image: image(url("./shutdown.png"));
}
#shutdown:focus {
    background-image: image(url("./shutdown-hover.png"));
}
