/* Carbonfox theme for nwg-drawer */

window {
    background-color: rgba(22, 22, 22, 0.95);
    color: #f2f4f8
}

/* search entry */
entry {
    background-color: #282828;
    color: #f2f4f8;
    border-radius: 6px;
    padding: 6px
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba(120, 169, 255, 0.15)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted #535353
}

#files-box {
    padding: 5px;
    border: 1px dotted #535353;
    border-radius: 10px
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px
}
