[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Icon=rubymine
Exec=rubymine %f
Comment=Ruby IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine
StartupNotify=true
