---
# Core CLI Setup
- name: Create directory ~/.local/bin/
  file:
    path: "{{ ansible_facts.env.HOME }}/.local/bin"
    state: directory
    mode: 0755

- name: Install Development Tools in Ubuntu
  become: true
  apt:
    name:
      - build-essential
      - linux-headers-generic
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install CLI tools in Ubuntu
  become: true
  apt:
    name:
      - tmux
      - ripgrep
      - fd-find
      - jq
      - htop
      - btop
      - python3-pip
      - unzip
      - mc
      - moreutils
      - bash-completion
      - fzf
      - bat
      - tealdeer
      - zoxide
      - starship
      - command-not-found
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install Development Tools in Fedora
  become: true
  dnf:
    name:
      - "@Development Tools"
      - kernel-devel
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Install CLI tools in Fedora
  become: true
  dnf:
    name:
      - tmux
      - ripgrep
      - fd-find
      - jq
      - htop
      - btop
      - python3-pip
      - python3-dnf
      - mc
      - moreutils
      - gawk
      - bash-completion
      - fzf
      - bat
      - tealdeer
      - zoxide
      - starship
      - PackageKit-command-not-found
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Install CLI tools in macOS
  community.general.homebrew:
    name:
      - tmux
      - ripgrep
      - fd
      - jq
      - htop
      - btop
      - mc
      - moreutils
      - gnu-tar
      - bash-completion@2
      - fzf
      - bat
      - tealdeer
      - zoxide
      - starship
    state: present
  when: ansible_facts.distribution == "MacOSX"

# Shell
- name: Install zsh
  import_tasks: zsh.yml

# Stow
- name: Install stow
  import_tasks: stow.yml

- name: Remove files that will conflict with Stow
  loop:
    - .bashrc
    - .bash_profile
    - .profile
    - .gitconfig
    - .config/alacritty/alacritty.toml
    - .config/git/ignore
    - .config/mise/config.toml
    - .config/mc/ini
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/{{ item }}"
    state: absent

- name: Generate platform-specific .gitconfig
  ansible.builtin.template:
    src: gitconfig.j2
    dest: "{{ ansible_facts.env.HOME }}/.gitconfig"
    mode: '0644'

- name: Ensure .config/alacritty directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.config/alacritty"
    state: directory
    mode: '0755'

- name: Generate platform-specific alacritty.toml
  ansible.builtin.template:
    src: alacritty.toml.j2
    dest: "{{ ansible_facts.env.HOME }}/.config/alacritty/alacritty.toml"
    mode: '0644'

- name: Run stow
  shell: "stow . --target {{ ansible_facts.env.HOME }} --verbose=2"
  args:
    chdir: "{{ ansible_facts.env.HOME }}/dotfiles"
  register: result
  changed_when: 'result.stderr is search("LINK: ")'

# CLI Tools
- name: Install vim
  import_tasks: vim.yml
