---
# CachyOS/Arch: install from official repos
- name: Install Neovim (CachyOS/Arch)
  become: true
  community.general.pacman:
    name: neovim
    state: present
  when: ansible_facts.os_family == "Archlinux"

# Debian/Fedora: build from source
- name: Install nvim build dependencies in Debian/Ubuntu
  become: true
  apt:
    name:
      - ninja-build
      - gettext
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - curl
      - doxygen
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install nvim build dependencies in Fedora
  become: true
  dnf:
    name:
      - ninja-build
      - libtool
      - autoconf
      - automake
      - cmake
      - gcc
      - gcc-c++
      - make
      - pkgconfig
      - unzip
      - patch
      - gettext
      - curl
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Check if Neovim is installed
  ansible.builtin.command: nvim -v
  register: nvim_check
  ignore_errors: true
  changed_when: false
  when: ansible_facts.os_family != "Archlinux"

- name: Get current Neovim version
  shell:
    cmd: nvim --version | head -n1 | awk '{print $2}'
  register: nvim_current_version
  when: ansible_facts.os_family != "Archlinux" and nvim_check.rc == 0
  changed_when: false

- name: Get target Neovim version from submodule
  shell:
    cmd: git -C deps/nvim describe --tags
  register: nvim_target_version
  changed_when: false
  when: ansible_facts.os_family != "Archlinux"

- name: Determine if Neovim needs to be built
  set_fact:
    nvim_needs_build: "{{ nvim_check.rc != 0 or (nvim_current_version.stdout | default('')) != nvim_target_version.stdout }}"
  when: ansible_facts.os_family != "Archlinux"

- name: Get VIMRUNTIME path
  shell:
    cmd: nvim --headless -c 'echo $VIMRUNTIME' -c quit
  register: nvim_vimruntime
  when: ansible_facts.os_family != "Archlinux" and nvim_check.rc == 0 and nvim_needs_build
  changed_when: false

- name: Check if previous build exist
  ansible.builtin.stat:
    path: deps/nvim/build
  register: nvim_build
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build

- name: Clean git repository before build
  become: true
  ansible.builtin.command:
    chdir: deps/nvim
    cmd: git clean -fdx
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build
  changed_when: false

- name: Build nvim release version in Linux
  community.general.make:
    chdir: deps/nvim
    params:
      CMAKE_BUILD_TYPE: Release
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build

- name: Uninstall previous installation of nvim
  become: true
  ansible.builtin.command:
    chdir: deps/nvim
    cmd: cmake --build build/ --target uninstall
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build and nvim_build.stat.exists
  ignore_errors: true

- name: Delete previous installation VIMRUNTIME path
  become: true
  file:
    path: "{{ nvim_vimruntime.stderr }}"
    state: absent
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build and nvim_vimruntime is defined and nvim_vimruntime.stderr is defined
  ignore_errors: true

- name: Install nvim release version in Linux
  become: true
  community.general.make:
    chdir: deps/nvim
    target: install
  when: ansible_facts.os_family != "Archlinux" and nvim_needs_build
