---
- name: Install nvim in Linux
  import_tasks: linux.yml
  when: ansible_system == "Linux"

- name: Install nvim in macOS
  import_tasks: macos.yml
  when: ansible_distribution == "MacOSX"

- name: Ensure pipx is installed on macOS
  community.general.homebrew:
    name: pipx
    state: present
  when: ansible_distribution == "MacOSX"

- name: Install pynvim with pipx on macOS
  ansible.builtin.shell:
    cmd: pipx install pynvim
  register: pipx_install
  changed_when: "'installed package pynvim' in pipx_install.stdout"
  failed_when: pipx_install.rc != 0 and 'pynvim is already installed' not in pipx_install.stderr
  when: ansible_distribution == "MacOSX"

- name: Install pynvim on Ubuntu
  ansible.builtin.apt:
    name: python3-pynvim
    state: present
  become: true
  when: ansible_distribution == "Ubuntu"

- name: Install pynvim on Fedora
  ansible.builtin.dnf:
    name: python3-neovim
    state: present
  become: true
  when: ansible_distribution == "Fedora"

- name: Check if help tags need updating
  stat:
    path: "{{ ansible_env.HOME }}/.config/nvim/pack/plugins/opt/coc.nvim/doc/tags"
  register: help_tags

- name: Generate :help pages
  shell: nvim --headless -c 'helptags ALL' -c quit
  when: not help_tags.stat.exists or nvim_needs_build | default(false)

- name: Check if Treesitter parsers are installed
  stat:
    path: "{{ ansible_env.HOME }}/.local/share/nvim/site/parser"
  register: treesitter_parsers

- name: Install Treesitter parsers
  shell: nvim --headless -c 'TSUpdateSync' -c quit
  when: not treesitter_parsers.stat.exists or nvim_needs_build | default(false)
