---
- name: Download cheat binary in Linux
  get_url:
    url: "https://github.com/cheat/cheat/releases/download/{{ cheat_version }}/cheat-linux-amd64.gz"
    dest: "/tmp/cheat-linux-amd64.gz"
    mode: '0644'
  when: ansible_facts.system == "Linux"

- name: Decompress cheat binary
  shell: gunzip -c /tmp/cheat-linux-amd64.gz > {{ ansible_facts.env.HOME }}/.local/bin/cheat
  args:
    creates: "{{ ansible_facts.env.HOME }}/.local/bin/cheat"
  when: ansible_facts.system == "Linux"

- name: Make cheat executable
  file:
    path: "{{ ansible_facts.env.HOME }}/.local/bin/cheat"
    mode: '0755'
  when: ansible_facts.system == "Linux"

- name: Clean up cheat download
  file:
    path: /tmp/cheat-linux-amd64.gz
    state: absent
  when: ansible_facts.system == "Linux"

- name: Install cheat in macOS
  community.general.homebrew:
    name: cheat
    state: present
  when: ansible_facts.distribution == "MacOSX"
