---
# Ubuntu installation
- name: Add Crystal GPG key in Ubuntu
  become: true
  ansible.builtin.shell:
    cmd: curl -fsSL https://packagecloud.io/84codes/crystal/gpgkey | gpg --dearmor | tee /etc/apt/trusted.gpg.d/84codes_crystal.gpg > /dev/null
    creates: /etc/apt/trusted.gpg.d/84codes_crystal.gpg
  when: ansible_facts.distribution == "Ubuntu"

- name: Add Crystal APT repository in Ubuntu
  become: true
  ansible.builtin.apt_repository:
    repo: "deb https://packagecloud.io/84codes/crystal/ubuntu {{ ansible_facts.distribution_release }} main"
    filename: 84codes_crystal
    state: present
  when: ansible_facts.distribution == "Ubuntu"

- name: Install Crystal in Ubuntu
  become: true
  apt:
    name:
      - crystal
    state: present
    update_cache: true
  when: ansible_facts.distribution == "Ubuntu"

# Debian installation
- name: Check if Crystal is already installed on Debian
  command: which crystal
  register: crystal_installed
  changed_when: false
  failed_when: false
  when: ansible_facts.distribution == "Debian"

- name: Get latest Crystal version on Debian
  uri:
    url: https://api.github.com/repos/crystal-lang/crystal/releases/latest
    return_content: yes
  register: crystal_release
  when:
    - ansible_facts.distribution == "Debian"
    - crystal_installed.rc != 0

- name: Download Crystal bundled tarball on Debian
  become: true
  get_url:
    url: "https://github.com/crystal-lang/crystal/releases/download/{{ crystal_release.json.tag_name }}/crystal-{{ crystal_release.json.tag_name }}-1-linux-{{ ansible_facts.architecture }}-bundled.tar.gz"
    dest: /tmp/crystal.tar.gz
    mode: '0644'
  when:
    - ansible_facts.distribution == "Debian"
    - crystal_installed.rc != 0

- name: Extract Crystal tarball on Debian
  become: true
  unarchive:
    src: /tmp/crystal.tar.gz
    dest: /opt
    remote_src: yes
  when:
    - ansible_facts.distribution == "Debian"
    - crystal_installed.rc != 0

- name: Create symlink for Crystal binary on Debian
  become: true
  file:
    src: "/opt/crystal-{{ crystal_release.json.tag_name }}-1/bin/crystal"
    dest: /usr/local/bin/crystal
    state: link
    force: yes
  when:
    - ansible_facts.distribution == "Debian"
    - crystal_installed.rc != 0

- name: Clean up Crystal tarball on Debian
  become: true
  file:
    path: /tmp/crystal.tar.gz
    state: absent
  when:
    - ansible_facts.distribution == "Debian"
    - crystal_installed.rc != 0

# Fedora installation
- name: Add 84codes GPG key on Fedora
  ansible.builtin.rpm_key:
    key: https://packagecloud.io/84codes/crystal/gpgkey
    state: present
  become: true
  when: ansible_facts.os_family == "RedHat"

- name: Add Crystal DNF repository in Fedora (< 43)
  become: true
  ansible.builtin.yum_repository:
    name: 84codes_crystal
    description: 84codes_crystal
    baseurl: https://packagecloud.io/84codes/crystal/fedora/$releasever/$basearch
    gpgkey: https://packagecloud.io/84codes/crystal/gpgkey
    repo_gpgcheck: true
    gpgcheck: false
    enabled: true
  when:
    - ansible_facts.os_family == "RedHat"
    - ansible_facts.distribution_version is version('43', '<')

- name: Add Crystal DNF repository in Fedora (>= 43, static build)
  become: true
  ansible.builtin.yum_repository:
    name: 84codes_crystal
    description: 84codes_crystal
    baseurl: https://packagecloud.io/84codes/crystal/rpm_any/rpm_any/$basearch
    gpgkey: https://packagecloud.io/84codes/crystal/gpgkey
    repo_gpgcheck: true
    gpgcheck: false
    enabled: true
  when:
    - ansible_facts.os_family == "RedHat"
    - ansible_facts.distribution_version is version('43', '>=')

- name: Install Crystal in Fedora
  become: true
  dnf:
    name:
      - crystal
    state: present
  when: ansible_facts.os_family == "RedHat"

# macOS installation
- name: Install Crystal in macOS
  community.general.homebrew:
    name:
      - crystal
    state: present
  when: ansible_facts.distribution == "MacOSX"

# CachyOS/Arch installation
- name: Install Crystal in CachyOS/Arch
  become: true
  community.general.pacman:
    name: crystal
    state: present
  when: ansible_facts.os_family == "Archlinux"
