---
- name: Install helix on Fedora
  become: true
  dnf:
    name: helix
    state: present
  when: ansible_os_family == "RedHat"

- name: Add helix PPA on Ubuntu
  become: true
  apt_repository:
    repo: ppa:maveonair/helix-editor
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Install helix on Ubuntu
  become: true
  apt:
    name: helix
    state: present
    update_cache: yes
  when: ansible_distribution == "Ubuntu"

- name: Check if helix is already installed on Debian
  command: which hx
  register: helix_installed
  changed_when: false
  failed_when: false
  when: ansible_distribution == "Debian"

- name: Get latest helix version on Debian
  uri:
    url: https://api.github.com/repos/helix-editor/helix/releases/latest
    return_content: yes
  register: helix_release
  when:
    - ansible_distribution == "Debian"
    - helix_installed.rc != 0

- name: Download helix binary on Debian
  become: true
  get_url:
    url: "https://github.com/helix-editor/helix/releases/download/{{ helix_release.json.tag_name }}/helix-{{ helix_release.json.tag_name }}-x86_64-linux.tar.xz"
    dest: /tmp/helix.tar.xz
    mode: '0644'
  when:
    - ansible_distribution == "Debian"
    - helix_installed.rc != 0

- name: Extract helix binary on Debian
  become: true
  unarchive:
    src: /tmp/helix.tar.xz
    dest: /opt
    remote_src: yes
  when:
    - ansible_distribution == "Debian"
    - helix_installed.rc != 0

- name: Create symlink for helix on Debian
  become: true
  file:
    src: "/opt/helix-{{ helix_release.json.tag_name }}-x86_64-linux/hx"
    dest: /usr/local/bin/hx
    state: link
    force: yes
  when:
    - ansible_distribution == "Debian"
    - helix_installed.rc != 0

- name: Clean up helix tarball on Debian
  become: true
  file:
    path: /tmp/helix.tar.xz
    state: absent
  when:
    - ansible_distribution == "Debian"
    - helix_installed.rc != 0

- name: Install helix on macOS
  community.general.homebrew:
    name: helix
    state: present
  when: ansible_distribution == "MacOSX"
