- name: Install OpenCode in Ubuntu/Fedora
  block:
    - name: Download and run OpenCode install script
      shell: curl -fsSL https://opencode.ai/install | bash
      args:
        creates: "{{ ansible_facts.env.HOME }}/.opencode/bin/opencode"
  when: ansible_facts.system == "Linux"

- name: Install OpenCode in macOS
  community.general.homebrew:
    name:
      - opencode
    state: present
  when: ansible_facts.distribution == "MacOSX"
