- name: Install OpenCode in Ubuntu/Fedora
  block:
    - name: Download and run OpenCode install script
      shell: curl -fsSL https://opencode.ai/install | bash
      args:
        creates: "{{ ansible_env.HOME }}/.opencode/bin/opencode"
  when: ansible_distribution in ["Ubuntu", "Fedora"]

- name: Install OpenCode in macOS
  community.general.homebrew:
    name:
      - opencode
    state: present
  when: ansible_distribution == "MacOSX"
