- name: Download procs binary in Debian/Ubuntu
  become: true
  ansible.builtin.unarchive:
    src: https://github.com/dalance/procs/releases/download/v{{ procs_version }}/procs-v{{ procs_version }}-{{ ansible_facts.architecture }}-linux.zip
    dest: /usr/local/bin
    remote_src: true
    mode: '0755'
  when: ansible_facts.os_family == "Debian"

- name: Install procs in Fedora
  become: true
  dnf:
    name:
      - procs
    state: present
  when: ansible_facts.os_family == "RedHat"

- name: Install procs in macOS
  community.general.homebrew:
    name:
      - procs
    state: present
  when: ansible_facts.distribution == "MacOSX"

- name: Install procs in CachyOS/Arch
  become: true
  community.general.pacman:
    name: procs
    state: present
  when: ansible_facts.os_family == "Archlinux"
