- name: Download procs binary in Ubuntu
  become: true
  ansible.builtin.unarchive:
    src: https://github.com/dalance/procs/releases/download/v{{ procs_version }}/procs-v{{ procs_version }}-x86_64-linux.zip
    dest: /usr/local/bin
    remote_src: true
    mode: '0755'
  when: ansible_os_family == "Debian"

- name: Install procs in Fedora
  become: true
  dnf:
    name:
      - procs
    state: present
  when: ansible_os_family == "RedHat"

- name: Install procs in macOS
  community.general.homebrew:
    name:
      - procs
    state: present
  when: ansible_distribution == "MacOSX"
