- name: Install procs in Ubuntu
  become: true
  apt:
    deb: https://github.com/dalance/procs/releases/download/v{{ procs_version }}/procs-v{{ procs_version }}-x86_64-linux.deb
  when: ansible_distribution == "Ubuntu"

- name: Install procs in Fedora
  become: true
  dnf:
    name:
      - procs
    state: present
  when: ansible_distribution == "Fedora"

- name: Install procs in macOS
  community.general.homebrew:
    name:
      - procs
    state: present
  when: ansible_distribution == "MacOSX"
