- name: Check if go is installed
  shell: command -v go
  register: go_installed
  failed_when: false
  changed_when: false

- name: Install q DNS client via go install on Linux
  shell: "go install github.com/natesales/q@latest"
  args:
    creates: "{{ ansible_facts.env.HOME }}/go/bin/q"
  when: ansible_facts.os_family in ["Debian", "RedHat"] and go_installed.rc == 0
  environment:
    GOPATH: "{{ ansible_facts.env.HOME }}/go"

- name: Install q DNS client in macOS
  community.general.homebrew:
    name:
      - q
    state: present
  when: ansible_facts.distribution == "MacOSX"
