- name: Install q DNS client in Debian/Ubuntu
  become: true
  apt:
    name: q-dns-client
    state: present
  when: ansible_facts.os_family == "Debian"
  ignore_errors: true
  register: q_apt

- name: Download q DNS client binary for Debian/Ubuntu if apt fails
  become: true
  get_url:
    url: https://github.com/natesales/q/releases/latest/download/q_linux_amd64
    dest: /usr/local/bin/q
    mode: '0755'
  when: ansible_facts.os_family == "Debian" and (q_apt is failed or q_apt is skipped)

- name: Install q DNS client in Fedora
  become: true
  dnf:
    name:
      - q
    state: present
  when: ansible_facts.os_family == "RedHat"
  ignore_errors: true
  register: q_dnf

- name: Download q DNS client binary for Fedora if dnf fails
  become: true
  get_url:
    url: https://github.com/natesales/q/releases/latest/download/q_linux_amd64
    dest: /usr/local/bin/q
    mode: '0755'
  when: ansible_facts.os_family == "RedHat" and (q_dnf is failed or q_dnf is skipped)

- name: Install q DNS client in macOS
  community.general.homebrew:
    name:
      - q
    state: present
  when: ansible_facts.distribution == "MacOSX"
