---
- name: Check if rustup is installed
  command: which rustup
  register: rustup_check
  failed_when: false
  changed_when: false

- name: Download rustup installer
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/rustup-init.sh
    mode: 0755
  when: rustup_check.rc != 0

- name: Install Rust via rustup
  command: /tmp/rustup-init.sh -y --default-toolchain stable
  args:
    creates: "{{ ansible_facts.env.HOME }}/.cargo/bin/rustup"
  when: rustup_check.rc != 0

- name: Remove rustup installer
  file:
    path: /tmp/rustup-init.sh
    state: absent
  when: rustup_check.rc != 0
