---
- name: Install sd with cargo-binstall on Debian/Ubuntu
  become: true
  apt:
    name: sd
    state: present
  when: ansible_facts.os_family == "Debian"

- name: Install sd with cargo-binstall on Fedora
  ansible.builtin.shell:
    cmd: "{{ ansible_facts.env.HOME }}/.cargo/bin/cargo binstall -y sd"
  register: sd_install
  changed_when: "'Installing' in sd_install.stderr"
  failed_when: sd_install.rc != 0 and 'already installed' not in sd_install.stderr
  when: ansible_facts.os_family == "RedHat"

- name: Install sd on macOS
  community.general.homebrew:
    name: sd
    state: present
  when: ansible_facts.distribution == "MacOSX"
