---
- name: Check if tealdeer is already installed
  stat:
    path: "{{ ansible_env.HOME }}/.local/bin/tealdeer"
  register: tealdeer_installed
  when: ansible_system == "Linux"

- name: Download tealdeer binary in Linux
  get_url:
    url: "https://github.com/tealdeer-rs/tealdeer/releases/download/v{{ tealdeer_version }}/tealdeer-linux-x86_64-musl"
    dest: "{{ ansible_env.HOME }}/.local/bin/tealdeer"
    mode: '0755'
  when: (ansible_system == "Linux") and not tealdeer_installed.stat.exists

- name: Create tldr symlink for tealdeer in Linux
  file:
    src: "{{ ansible_env.HOME }}/.local/bin/tealdeer"
    dest: "{{ ansible_env.HOME }}/.local/bin/tldr-tealdeer"
    state: link
  when: (ansible_system == "Linux") and not tealdeer_installed.stat.exists

- name: Install tealdeer in macOS
  community.general.homebrew:
    name: tealdeer
    state: present
  when: ansible_distribution == "MacOSX"
