---
- name: Check if wslu is installed
  ansible.builtin.stat:
    path: /usr/local/bin/wslgsu
  register: wslu_build

- name: Build wslu in Linux
  community.general.make:
    chdir: deps/wslu
  environment: 
    PREFIX: /usr/local

- name: Install wslu in Linux
  become: true
  community.general.make:
    chdir: deps/wslu
    target: install
  environment: 
    PREFIX: /usr/local

- name: Add win32yank wrapper executable script into PATH
  copy:
    src: win32yank
    dest: "{{ ansible_facts.env.HOME }}/.local/bin/win32yank.exe"
    mode: "u+x"
